In [9]:
import pandas as pd

# Load the CSV file into a pandas DataFrame
try:
    df = pd.read_csv('departures.csv')
except FileNotFoundError:
    print("Error: The file 'departures.csv' does not exist.")
    raise

# Display the original DataFrame columns
print("Original Columns:")
print(df.columns)

# Specify the columns you want to delete
columns_to_delete = [
    'arr_time', 
    'sched_arr_time', 
    'arr_delay', 
    'sched_arr_time (modified)', 
    'sched_dep_time (modified).1', 
    'sched_arr_time (modified).1'
]

# Check which columns exist in the DataFrame before attempting to drop them
existing_columns_to_delete = [col for col in columns_to_delete if col in df.columns]
if not existing_columns_to_delete:
    print("No columns to delete.")
else:
    print(f"Deleting columns: {existing_columns_to_delete}")

    # Drop the specified columns
    df.drop(columns=existing_columns_to_delete, inplace=True)

# Optionally drop any remaining duplicate columns
df = df.loc[:, ~df.columns.duplicated()]

# Save the modified DataFrame back to a CSV
df.to_csv('departures.csv', index=False)

print("Modified DataFrame saved successfully.")

Original Columns:
Index(['date', 'dep_time', 'sched_dep_time', 'sched_dep_time (modified)',
       'dep_delay', 'tailnum', 'air_time', 'name'],
      dtype='object')
No columns to delete.
Modified DataFrame saved successfully.

In [18]:
departures = pd.read_csv('departures.csv')

In [19]:
departures['sched_dep_datetime (mod)'] = pd.to_datetime(departures['date'] + ' ' + departures['sched_dep_time (modified)'])
departures = departures[ ['sched_dep_datetime (mod)'] + [ col for col in departures.columns if col != 'sched_dep_datetime (mod)' ] ]
departures = departures.drop(['date', 'sched_dep_time (modified)'], axis =1)

In [16]:
departures

,sched_dep_datetime (mod),dep_time,sched_dep_time,dep_delay,tailnum,air_time,name
0,2013-01-01 05:51:00,05:58,06:00,-2.0,N29129,345.0,United Air Lines Inc.
1,2013-01-01 06:51:00,06:58,07:00,-2.0,N627VA,361.0,Virgin America
2,2013-01-01 06:51:00,07:02,07:00,2.0,N779JB,381.0,JetBlue Airways
3,2013-01-01 07:51:00,07:43,07:30,13.0,N338AA,358.0,American Airlines Inc.
4,2013-01-01 08:51:00,08:29,08:30,-1.0,N554UA,360.0,United Air Lines Inc.
...,...,...,...,...,...,...,...
11154,2013-12-31 17:51:00,18:21,18:15,6.0,N180DN,348.0,Delta Air Lines Inc.
11155,2013-12-31 18:51:00,18:50,19:00,-10.0,N323AA,348.0,American Airlines Inc.
11156,2013-12-31 19:51:00,20:14,20:15,-1.0,N196DN,347.0,Delta Air Lines Inc.
11157,2013-12-31 20:51:00,20:37,20:40,-3.0,N768JB,354.0,JetBlue Airways
11158,2013-12-31 21:51:00,21:28,21:35,-7.0,N332AA,360.0,American Airlines Inc.

In [22]:
departures['sched_dep_datetime (mod)'] = pd.to_datetime(departures['sched_dep_datetime (mod)'])