In [43]:
import pandas as pd
flights = pd.read_csv('Vluchten_2013_dataset.csv')
NYLA = flights[(flights['origin'] == 'JFK') & (flights['dest'] == 'LAX')]
NYLA.columns

Index(['id', 'year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour', 'name'],
      dtype='object')

In [44]:
NYLA['date'] = pd.to_datetime(NYLA[['year', 'month', 'day']])
NYLA = NYLA.drop(['id', 'year', 'month', 'day', 'time_hour', 'distance', 'hour', 'minute', 'carrier', 'flight', 'origin', 'dest',], axis=1)
cols = ['date'] + [col for col in NYLA if col != 'date']
NYLA = NYLA[cols]
NYLA = NYLA.sort_values(by='date')
NYLA = NYLA.dropna(axis=0)
NYLA = NYLA.reset_index()
NYLA = NYLA.drop(['index'], axis=1)

C:\Users\samue\AppData\Local\Temp\ipykernel_41804\747479951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NYLA['date'] = pd.to_datetime(NYLA[['year', 'month', 'day']])

In [45]:
#function to convert departure and arrival times in floats, to datetime objects

def convert_to_time(time_value):
    time_value = int(time_value)
    
    if time_value < 100:  # If it's less than 100, it's only minutes
        return f"00:{time_value:02d}"
    else:
        time_str = str(time_value).zfill(4)
        hour = int(time_str[:2])
        minute = int(time_str[2:])
        return f"{hour:02d}:{minute:02d}"
    
    
timecolumns = ['dep_time', 'sched_dep_time', 'arr_time', 'sched_arr_time'] 

for col in timecolumns:
    NYLA[col] = NYLA[col].apply(convert_to_time)

In [52]:
NYLA.tail()

,date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,tailnum,air_time,name
11154,2013-12-31,07:24,07:00,24.0,11:03,10:25,38.0,N627VA,362.0,Virgin America
11155,2013-12-31,06:59,07:00,-1.0,10:15,10:15,0.0,N768JB,355.0,JetBlue Airways
11156,2013-12-31,06:30,06:31,-1.0,09:55,09:58,-3.0,N589UA,355.0,United Air Lines Inc.
11157,2013-12-31,15:31,15:30,1.0,19:18,19:03,15.0,N199DN,363.0,Delta Air Lines Inc.
11158,2013-12-31,11:32,11:29,3.0,14:48,14:46,2.0,N595UA,346.0,United Air Lines Inc.

In [53]:
NYLA.to_csv('FLIGHT_csv_clean.csv', index=False)